body {
    background-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(20, 11, 57, 0.3)rgba(16, 6, 56, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herovideo {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    width: 100%;
    z-index: -1;

}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 40px 4%;
    margin-left: 0px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    padding: 40px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(250, 251, 251);
    font-size: 20px;
}

#homelist {
    text-decoration: none;
    color: rgb(250, 251, 251);
    font-size: 30px;
    padding: 2px 40px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.explor {
    text-align: center;
}

.explor h1 {
    color: white;
    font-style: inherit;
    font-size: 100px;
}

.explor h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-top: 14px;
    padding: 8px 15px;
    display: inline-block;
    border: 2px solid;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}

.explor h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

hr {
    color: #fff;
}

.content {
    background-image: url(https://wallpaperaccess.com/full/2859281.jpg);
    position: absolute;
}

.about {
    color: #ffffff8a;
    margin: 7% 5%;
    font-size: 30px;
    font-family: cursive;
}

#historyhead {
    margin: 0% 5%;
    color: #fff;
    font-size: 60px;
    font-style: oblique;
    transition: 0.5s;
}

.historyp {
    color: #fff;
    margin: 0% 5%;
    margin-bottom: 2%;
    font-size: 30px;
    font-style: inherit;
}

#history {
    display: flex;
    justify-content: space-around;
    margin: 0% 3%;
}

.historyimg p {
    color: #fff;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin: 3% 0%;
    width: 400px;
}

.historyimg img {
    display: flex;
    width: 400px;
    height: 300px;
    border: 2px solid color(white);
    border-radius: 50px;
    opacity: 60%;
    transition: 0.2s;
}


.historyimg img:hover {
    width: 600px;
    height: 450px;
    opacity: 100%;
}

.copyrights{
    text-align: center;
    font-size: 7px;
    color: #fff;
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
    font-style: initial;
    font-size: 30px;
    background-color: rgb(181, 181, 181);
    margin: 2px;
    text-align: center;
    border-radius: 20px;
}
.item2 p{
   margin-top: 40px;}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;
}

.item5 {
    grid-area: e;
    font-style: initial;
    font-size: 20px;
    background-color: rgb(199, 197, 197);
    margin: 2px;
    text-align: center;
    border-radius: 20px;
}

.gridcontainer {
    display: grid;
    margin: 10vw;
    margin-bottom: 25vh;
    width: 80vw;
    height: 400px;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: auto;
    gap: 15px;
    grid-template-areas:
        "a b c c"
        "d d c c"
        "d d e e";
}

.card2 {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .containerus{
    flex-direction: column;
    display: flex;
    align-items: center;
  }

 @media (max-width:460px){
    .hero {
        width: 100%;
        height: 40vh;
        background-image: linear-gradient(rgba(20, 11, 57, 0.3)rgba(16, 6, 56, 0.3));
        position: relative;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .herovideo {
        transition: all 0.5 ease ease-in-out;
    }
    nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav .logo {
        width:12%;
        height: 12%;
        margin:  0px;
    }
    
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 0px;
        padding: 7px 4px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(250, 251, 251);
        font-size: 15px;
    }
    #homelist {
        text-decoration: none;
        color: rgb(250, 251, 251);
        font-size: 10px;
        padding: 2px 10px;
        border: 2px solid #fff;
        border-radius: 20px;
    }
    .explor {
        text-align: center;
    }
    
    .explor h1 {
        color: white;
        font-style: inherit;
        font-size: 30px;
    }
    
    .explor h2 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
        margin-top: 3px;
        padding: 8px;
        display: inline-block;
        border: 2px solid;
        border-radius: 50px;
        justify-content: center;
        text-align: center;
        transition: 0.5s;
    }
    .content {
        background-image: url(https://wallpaperaccess.com/full/2859281.jpg);
        position: absolute;
        width: 100%;
    }
    .about {
        color: #ffffff8a;
        margin: 7%;
        font-size: 20px;
        font-family: cursive;
    }
    
    #historyhead {
        margin: 0% 5%;
        color: #fff;
        font-size: 19px;
        font-style: oblique;
        transition: 0.5s;
    }
    
    .historyp {
        color: #fff;
        margin: 0% 5%;
        margin-bottom: 4%;
        font-size: 17px;
        font-style: inherit;
    }
    
    #history {
       display: flex;
        justify-content: space-around;
        margin: 0% 3%;
        margin-bottom: 3%;
        align-items: center;

    }
    
    .historyimg p {
        color: #fff;
        font-size: 15px;
        font-family: cursive;
        text-align: center;
        margin: 3% 0%;
        width: 130px;
    }
    
    .historyimg img {
        display: flex;
        width: 130px;
        height: 100px;
        border: 2px solid color(white);
        border-radius: 50px;
        opacity: 60%;
        transition: 0.2s;
    }
    
    
    .historyimg img:hover {
        width: 150px;
        height: 120px;
        opacity: 100%;
    }
    
    .copyrights{
        text-align: center;
        font-size: 7px;
        color: #fff;
    }


.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
    font-style: initial;
    font-size: 20px;
    background-color: rgb(181, 181, 181);
    margin: 2px;
    text-align: center;
    border-radius: 20px;
}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;
    display: none;
}

.item5 {
    grid-area: e;
    font-style: initial;
    font-size: 20px;
    background-color: rgb(199, 197, 197);
    margin: 2px;
    text-align: center;
    border-radius: 20px;
}

.gridcontainer {
    display: flex ;
    flex-direction: column;
    margin-top: 70vh;
    margin-bottom: 35vh;
    width: 70vw;
    height: 400px;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: auto;
    gap: 15px;
    grid-template-areas:
        "a b c c"
        "d d c c"
        "d d e e";
}

 }
  